body {
  background-color: #223d56;
}

.steam-text {
  color: white;
}

.container-fluid.container-padding {
  padding-left: 20px;
  padding-right: 20px;
}

#topMenu {
  background-color: #223d56;
  color: white;
}

#centerText {
  color: white;
  height: 200px;
}

#bottomMenu {
  background-color: #223d56;
  color: white;
}

a.nav-link{
  color: white;
}
