body {
  background-color: #223d56;
}

.wrapper {
  background-color: #223d56;
}

.steam-text {
  color: white;
}

.container-fluid.container-padding {
  padding-left: 20px;
  padding-right: 20px;
}

#topMenu {
  background-color: #223d56;
  color: white;
}

#centerText {
  color: white;
  height: 200px;
}

#bottomMenu {
  background-color: #223d56;
  color: white;
}

.green-rectangle {
  display: inline-block;
  background-color: green;
  padding: 5px 10px;
  border-radius: 5px;
}

a.nav-link{
  color: white;
}
